@use 'colors';

.filters {

    .filters__selected {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;

        .filters__selected__list {
            margin-bottom: 2vh;
            padding-left: 0;
            list-style: none;

            .filters__selected__list__item {
                display: inline-flex;
                align-items: center;
                margin-right: 0.75vw;
                margin-bottom: 1.5vh;
                padding: 0.25vw;
                padding-left: 0.5vw;
                width: fit-content;
                background-color: colors.$lightYellow;
                color: colors.$purple;
                font-size: 1vw;
                font-weight: 600;

                .filters__selected__list__item__icon {
                    display: flex;
                    align-items: center;
                    padding: 0.2vw;
                    background-color: colors.$purple;
                    font-size: 0.5vw;
                    color: colors.$lightYellow;
                    border-radius: 1vw;
                    margin-left: 0.5vw;
                    margin-right: 0.5vw;
                    cursor: pointer;

                    &:hover {
                        background-color: colors.$lightPurple;
                    }
                }
            }
        }
    }

    .filters__box {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        border: 0.4vw solid colors.$lightPurple;
        transition: height 0.3s ease-in-out;
        overflow: hidden;

        .filters__box__toggle {
            display: block;
            margin-left: auto;
            height: 5vh;
            width: 3vw;
            background-color: colors.$lightPurple;
            font-size: 2vw;
            text-align: center;
            color: colors.$purple;
            border: none;
            outline: none;
            cursor: pointer;

            &:hover {
                background-color: colors.$purple;
                color: colors.$lightPurple;
            }
        }

        .filters__box__select {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 4vh;
            width: 80%;

            .filters__box__select__icon {
                display: block;
                font-size: 2.5vw;
                color: colors.$lightPurple;
                cursor: pointer;
            }

            .icon--right {
                margin-left: auto;
            }

            .filters__box__select__title {
                background-color: colors.$lightPurple;
                padding: 0.2vw;
                margin-top: 0;
                margin-bottom: 0;
                font-size: 1.5vw;
                text-align: center;
                color: colors.$purple;
                text-transform: uppercase;
            }
        }

        .filters__box__items {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 2vh;
            text-align: center;

            .filters__box__items__search {
                font-size: 1vw;
                margin-bottom: 2vh;
                text-align: center;
                width: 50%;
                border: none;

                &:focus {
                    outline: 0;
                    border: none;
                }
            }

            .filters__box__items__list {
                margin-right: 2vw;
                margin-left: 2vw;
                padding-left: 0;
                list-style: none;
                max-height: 34vh;
                overflow-y: auto;

                .filters__box__items__list__item {
                    margin-bottom: 2vh;
                    font-size: 1.25vw;
                    color: colors.$lightPurple;
                    font-weight: 500;
                    cursor: pointer;
                    user-select: none;

                    &:hover {
                        color: colors.$white;
                    }

                }
            }

            ::-webkit-scrollbar {
                width: 0.5vw;
            }
              
            ::-webkit-scrollbar-track {
                background: colors.$white;
            }
            
            ::-webkit-scrollbar-thumb {
                background: colors.$lightPurple;
                border-radius: 0;
            }
              
            ::-webkit-scrollbar-thumb:hover {
                background: colors.$purple;
            }
            
        }

    }

    .filters__box.maximized {
        height: 60vh;
    }
    
    .filters__box.minimized {
        height: 5vh;
    }

}

@media only screen and (max-width: 767px) {

    .filters {

        .filters__selected {
            width: 80%;
    
            .filters__selected__list {
                margin-bottom: 2vh;
    
                .filters__selected__list__item {
                    margin-right: 4vw;
                    margin-bottom: 2vh;
                    padding: 1vw;
                    padding-left: 2vw;
                    font-size: 4vw;
    
                    .filters__selected__list__item__icon {
                        padding: 0.2vw;
                        font-size: 3vw;
                        border-radius: 1vw;
                        margin-left: 2vw;
                        margin-right: 0.5vw;
                    }
                }
            }
        }
    
        .filters__box {
            width: 80%;
            border: 1vw solid colors.$lightPurple;
    
            .filters__box__toggle {
                height: 4vh;
                width: 10vw;
                font-size: 7.5vw;
            }
    
            .filters__box__select {
                margin-top: 4vh;
                width: 90%;
    
                .filters__box__select__icon {
                    font-size: 12vw;
                }
    
                .filters__box__select__title {
                    padding: 1vw;
                    padding-top: 1.5vh;
                    padding-bottom: 1.5vh;
                    margin-top: 0;
                    margin-bottom: 0;
                    font-size: 4.25vw;
                    align-items: center;
                }
            }
    
            .filters__box__items {
                margin-top: 2vh;
    
                .filters__box__items__search {
                    font-size: 4vw;
                    margin-bottom: 2vh;
                    width: 40%;

                }
    
                .filters__box__items__list {
                    max-height: 36vh;
                    margin-left: 7vw;
                    margin-right: 7vw;
    
                    .filters__box__items__list__item {
                        margin-bottom: 2vh;
                        font-size: 4vw;
                        font-weight: 500;
    
                    }
                }

                ::-webkit-scrollbar {
                    width: 2vw;
                }
                
            }
    
        }
    
        .filters__box.maximized {
            height: 60vh;
        }
        
        .filters__box.minimized {
            height: 4vh;
        }
    
    }

}