@use 'colors';

.header {
    .header__title {
        margin-top: 3vh;
        margin-bottom: 3vh;
        font-size: 4vw;
        text-align: center;
        font-weight: 700;
        color: colors.$lightYellow;
        text-transform: uppercase;

        .header__title--yellow {
            color: colors.$lightPurple;
            font-weight: 400;
        }
    }
}

@media only screen and (max-width: 767px) {

    .header {
        .header__title {
            margin-top: 5vh;
            margin-bottom: 5vh;
            font-size: 12.5vw;
        }
    }

}