@use 'colors';

.header {
    .header__title {
        margin-top: 4vh;
        margin-bottom: 4vh;
        font-size: 4vw;
        text-align: center;
        font-weight: 700;
        color: colors.$lightYellow;
        text-transform: uppercase;

        .header__title--yellow {
            color: colors.$lightPurple;
            font-weight: 400;
        }
    }
}